<div class="row">
  <div class="col-md-7" id="player-view">
    <%= render "shared/player", video: @current %>
  </div>

  <div class="col-md-5">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#queue-pane" role="tab" data-toggle="tab">Queue</a>
      </li>
      <li>
        <a href="#search-pane" role="tab" data-toggle="tab">Search</a>
      </li>
      <li>
        <a href="#subreddit-pane" role="tab" data-toggle="tab">Subreddit</a>
      </li>
      <li>
        <a href="#youtube-playlist-pane" role="tab" data-toggle="tab">Youtube Playlist</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active text-center" id="queue-pane">
        <%= render "shared/queued_videos_table", queued_videos: @queued_videos %>
      </div>
      <div class="tab-pane" id="search-pane">
        <p>
          <%= render "shared/ajax_searchbar" %>
        </p>
      </div>
      <div class="tab-pane" id="subreddit-pane">
        <p>
          <%= form_tag play_video_path, method: :get, class: "form-inline" do %>
            <div class="form-group">
              <%= text_field_tag "r", params[:r], class: "form-control", placeholder: "Enter subreddit" %>
            </div>
            <%= button_tag :class => "btn btn-default", type: :submit do %>
              <span class="glyphicon glyphicon-music"></span>
            <% end %>
          <% end %>
        </p>
      </div>
      <div class="tab-pane" id="youtube-playlist-pane">
        <p>
          <%= form_tag play_video_path, method: :get, class: "form-inline" do %>
            <div class="form-group">
              <%= text_field_tag "list", params[:list], class: "form-control", placeholder: "Enter list id" %>
            </div>
            <%= button_tag :class => "btn btn-default", type: :submit do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  function onYouTubePlayerAPIReady() {
    var youtube_player = new YoutubePlayer("<%= @current.try(:youtube_id) %>");

    var eventStream = new EventStream(<%= event_stream_params %>);
    eventStream.forPlayer(<%= @current.present? %>, youtube_player.player);
  }
</script>
