<div class="row">
  <div class="col-md-7">
    <% if @current %>
      <h2><%= @current.title %></h2>
      <div id="player"></div>
    <% else %>
      <div class="text-center">
        <h1>Empty Queue</h1>
        <%= image_tag("jukebox.png") %>
      </div>
    <% end %>
  </div>

  <div class="col-md-5">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#queue" role="tab" data-toggle="tab">Queue</a>
      </li>
      <li>
        <a href="#search" role="tab" data-toggle="tab">Search</a>
      </li>
      <li>
        <a href="#subreddit" role="tab" data-toggle="tab">Subreddit</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active text-center" id="queue">
        <% if @queued_videos.present? %>
          <%= render 'shared/queued_videos_table', queued_videos: @queued_videos %>
        <% end %>
      </div>
      <div class="tab-pane" id="search">
        <p>
          <%= render 'shared/ajax_searchbar' %>
          <div id="search-results"></div>
        </p>
      </div>
      <div class="tab-pane" id="subreddit">
        <p>
          <%= form_tag play_video_path, method: :get, class: "form-inline" do %>
            <div class="form-group">
              <%= text_field_tag "r", params[:r], class: "form-control", placeholder: "Enter subreddit", :autofocus => "autofocus" %>
            </div>
            <%= button_tag :class => "btn btn-default", type: :submit do %>
              <span class='glyphicon glyphicon-search'></span>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  function onYouTubePlayerAPIReady() {
    var player = new YoutubePlayer('<%= @current.try(:youtube_id) %>');

    var eventStream = new EventStream(<%= event_stream_params %>);
    eventStream.forPlayer(<%= @current.present? %>);
  }
</script>
