<% content_for :title, "#{@current.try!(:title) || "Empty Queue"}" %>

<paper-tabs selected="0" class="paper-tabs">
  <paper-tab id="video-tab">VIDEO</paper-tab>
  <paper-tab id="recents-tab">RECENTS</paper-tab>
  <paper-tab id="popular-tab">POPULAR</paper-tab>
  <% if user_signed_in? %>
    <paper-tab id="favorites-tab">FAVORITES</paper-tab>
  <% end %>
  <paper-tab id="search-tab" style="display: none;">RESULTS</paper-tab>
</paper-tabs>

<div id="video-tab-content">
  <jukapp-player youtubeId="<%= @current.try(:youtube_id) %>">
    <div class="empty-queue">
      <%= image_tag("jukebox.png") %>
    </div>
  </jukapp-player>
</div>

<div id="recents-tab-content" class="hidden">
  <%= render 'shared/stats_table', stats: @recents %>
</div>
<div id="popular-tab-content" class="hidden">
  <%= render 'shared/stats_table', stats: @popular %>
</div>
<% if user_signed_in? %>
  <div id="favorites-tab-content" class="hidden">
    <%= render 'shared/videos_table', videos: @favorites %>
  </div>
<% end %>
<div id="search-tab-content" class="hidden"></div>

<script>
  $(function() {
    var eventStream = new EventStream(<%= event_stream_params %>);
    eventStream.forPlayer(<%= @current.present? %>);

    document.querySelector("jukapp-scaffold").$.drawerPanel.forceNarrow = true;

    document.querySelector("jukapp-player").addEventListener("google-youtube-state-change", function(e) {
      if (e.detail.data == 0) {
        VideoOperations.playNext();
      }
    });

    document.querySelector("jukapp-player").addEventListener("google-youtube-error", function(e) {
      VideoOperations.playNext();
    });

    document.querySelector("jukapp-player").addEventListener("next-clicked", function(e) {
      VideoOperations.playNext();
    });
  });
</script>
