<% content_for :title, "Play" %>

<% if @current.present? %>
  <jukapp-player videoTitle="<%= @current.title %>" youtubeId="<%= @current.youtube_id %>">
    <div class="first-tab">
      <%= render "shared/ajax_searchbar" %>
    </div>
    <div class="second-tab">
      Second
    </div>
    <div class="third-tab">
      Third
    </div>
  </jukapp-player>
<% else %>
  <div class="text-center" layout vertical center center-justified>
    <h1>Empty Queue</h1>
    <%= image_tag("jukebox.png") %>
  </div>
<% end %>

<script>
  $(function() {
    var eventStream = new EventStream(<%= event_stream_params %>);
    eventStream.forPlayer(<%= @current.present? %>);

    document.querySelector("jukapp-scaffold").$.drawerPanel.forceNarrow = true;

    document.querySelector("jukapp-player").addEventListener("google-youtube-state-change", function(e) {
      if (e.detail.data == 0) {
        VideoOperations.playNext();
      }
    });

    document.querySelector("jukapp-player").addEventListener("google-youtube-error", function(e) {
      VideoOperations.playNext();
    });

    document.querySelector("jukapp-player").addEventListener("next-clicked", function(e) {
      VideoOperations.playNext();
    });
  });
</script>
