<%= render 'shared/searchbar' %>
<br>

<% if @videos %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Results</th>
        <th></th>
        <% if user_signed_in? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <% @videos.each do |video| %>
      <tr>
        <td>
          <%= video["title"] %>
        </td>
        <td>
          <% queue_form_id = "queue-#{video['id']}" %>
          <%= form_for Video.new, url: queue_video_path, html: { class: "form-inline", id: queue_form_id } do |form| %>
            <%= form.hidden_field :youtube_id, value: video["id"] %>
            <%= form.hidden_field :title, value: video["title"] %>
            <%= link_to "Add", "#", "bind-event-click" => "VideoOperations.addToQueue($('##{queue_form_id}'), $(this));", class: "btn btn-primary" %>
          <% end %>
        </td>
        <% if user_signed_in? %>
          <td>
            <% if favorite?(video["id"]) %>
              <%= link_to favorites_path, "bind-event-click" => "VideoOperations.removeFromFavorites(this, '#{video['id']}');", class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
            <% else %>
              <%= link_to favorites_path, "bind-event-click" => "VideoOperations.addToFavorites(this, '#{video['id']}', '#{video['title']}');", class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
