<p>
  <%= form_tag search_videos_path, method: :get, class: "form-inline" do %>
    <div class="form-group">
      <%= text_field_tag "query", params[:query], class: "form-control", placeholder: "Search on YouTube", :autofocus => "autofocus" %>
    </div>
    <%= button_tag :class => "btn btn-default", type: :submit do %>
      <span class='glyphicon glyphicon-search'></span>
    <% end %>
  <% end %>
</p>

<br>

<% if @videos %>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Results</th>
            <th></th>
          </tr>
        </thead>
        <% @videos.each do |video| %>
          <%= form_for Video.new, url: queue_video_path, html: { class: "form-inline" } do |form| %>
            <%= form.hidden_field :youtube_id, value: video["id"] %>
            <%= form.hidden_field :title, value: video["title"] %>
              <tr>
                <td>
                  <%= video["title"] %>
                </td>
                <td>
                  <%= form.submit "Add", class: "btn btn-primary" %>
                </td>
              </tr>
          <% end %>
        <% end %>
      </table>
    </div>
<% end %>
