<%= form_tag search_videos_path, method: :get, class: "form-inline" do %>
  <div class="form-group">
    <%= text_field_tag "query", params[:query], class: "form-control", placeholder: "Search on YouTube", :autofocus => "autofocus" %>
  </div>
  <%= button_tag :class => "btn btn-default", type: :submit do %>
    <span class='glyphicon glyphicon-search'></span>
  <% end %>
<% end %>

<br>

<% if @videos %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Results</th>
        <th></th>
      </tr>
    </thead>
    <% @videos.each do |video| %>
      <% form_id = "add-#{video['id']}" %>
      <%= form_for Video.new, url: queue_video_path, html: { class: "form-inline", id: form_id } do |form| %>
        <%= form.hidden_field :youtube_id, value: video["id"] %>
        <%= form.hidden_field :title, value: video["title"] %>
          <tr>
            <td>
              <%= video["title"] %>
            </td>
            <td>
              <%= link_to "Add", "#", onclick: "VideoOperations.addToQueue($('##{form_id}'), $(this));", class: "btn btn-primary" %>
            </td>
          </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
