<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% videos.each_with_index do |video, index| %>
    <tr>
      <td>
        <%= index+1 %>
      </td>
      <td>
        <%= video.title %>
      </td>
      <td>
        <% queue_form_id = "queue-#{video.youtube_id}" %>
        <%= form_for video, url: queue_video_path, html: { id: queue_form_id, method: :post, class: "form-inline" } do |form| %>
          <%= form.hidden_field :youtube_id %>
          <%= link_to "Add", "#", onclick: "VideoOperations.addToQueue($('##{queue_form_id}'), $(this));", class: "btn btn-primary" %>
        <% end %>
      </td>
      <td>
        <% favorite_form_id = "favorite-#{video.youtube_id}" %>
        <%= form_tag favorites_path, id: favorite_form_id do %>
          <%= hidden_field_tag :video_id, video.id %>
          <% if favorite?(video) %>
            <%= link_to "#", onclick: "VideoOperations.removeFromFavorites($('##{favorite_form_id}'), $(this));", class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          <% else %>
            <%= link_to "#", onclick: "VideoOperations.addToFavorites($('##{favorite_form_id}'), $(this));", class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
