<% if video.present? %>
  <h2><%= video.title %></h2>
  <div id="player"></div>
<% else %>
  <div class="text-center">
    <h1>Empty Queue</h1>
    <%= image_tag("jukebox.png") %>
  </div>
<% end %>

<script>
  function onYouTubePlayerAPIReady() {
    var player = new YoutubePlayer('<%= video.try(:youtube_id) %>');

    var eventStream = new EventStream(<%= event_stream_params %>);
    eventStream.forPlayer(<%= video.present? %>);
  }
</script>
