<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Title</th>
      <th></th>
      <% if user_signed_in? && ( !local_variables.include?(:hide_favorites) || !hide_favorites ) %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <% videos.each_with_index do |video, index| %>
    <tr>
      <td>
        <%= index_with_page(index, params[:page]) %>
      </td>
      <td>
        <%= truncate(video.title, length: 54) %>
      </td>
      <td>
        <%= link_to "Add", queue_video_path(youtube_id: video.youtube_id, title: video.title), method: :post, remote: true, class: "btn btn-primary add-queue" %>
      </td>
      <% if user_signed_in? && ( !local_variables.include?(:hide_favorites) || !hide_favorites ) %>
        <td>
          <% if favorite?(video.youtube_id) %>
            <%= link_to favorites_path(youtube_id: video.youtube_id), method: :delete, remote: true, class: "btn btn-default remove-favorite-button" do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          <% else %>
            <%= link_to favorites_path(youtube_id: video.youtube_id, title: video.title), method: :post, remote: true, class: "btn btn-default add-favorite-button" do %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<script>
  $(function() {
    $(".add-favorite-button").bind("ajax:success", function(e, data, status, xhr) {
      $button = $(e.target)
      VideoOperations.disable($button, "");
      $button.find("span:first-child").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
    });

    $(".remove-favorite-button").bind("ajax:success", function(e, data, status, xhr) {
      $button = $(e.target)
      VideoOperations.disable($button, "");
      $button.find("span:first-child").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
    });

    $(".add-queue").bind("ajax:success", function(e, data, status, xhr) {
      $button = $(e.target)
      VideoOperations.disable($button, "Added")
    });
  });
</script>
