<% content_for :title, "Settings" %>

<paper-shadow>
  <core-toolbar class="toolbar-title first-element">
    <div class="indent">
      <h3>Rooms</h3>
    </div>
  </core-toolbar>
</paper-shadow>

<% if current_room %>
  <paper-shadow>
    <core-toolbar class="table-row-toolbar">
        <span flex>
          <strong>Room:</strong> <%= current_room.name %>
        </span>
        <%= link_to leave_rooms_path, class: "icon-button-link" do %>
          <paper-icon-button icon="exit-to-app"></paper-icon-button>
        <% end %>
    </core-toolbar>
  </paper-shadow>
<% else %>
  <paper-shadow>
    <core-toolbar class="medium-tall form-toolbar">
      <%= form_for @room || @room = Room.new do |form| %>
        <% if @room.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <strong><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</strong><br>
            <% @room.errors.full_messages.each do |message| %>
              <%= message %><br>
            <% end %>
          </div>
        <% end %>
        <paper-input-decorator label="Room name" class="form-field">
          <%= form.text_field :name, is: "core-input" %>
        </paper-input-decorator>
        <paper-button raised class="form-submit success">Create</paper-button>
      <% end %>
    </core-toolbar>
  </paper-shadow>

  <% if @rooms.present? %>
    <% @rooms.each do |room| %>
        <div class="table-row">
          <paper-shadow>
            <core-toolbar class="table-row-toolbar">
              <span flex><%= room.name %></span>
              <%= link_to join_room_path(room), class: "icon-button-link" do %>
                <paper-icon-button icon="launch"></paper-icon-button>
              <% end %>

              <% if god_mode? %>
                <%= link_to room, method: :delete, data: { confirm: "Are you sure?" }, class: "icon-button-link" do %>
                  <paper-icon-button icon="delete"></paper-icon-button>
                <% end %>
              <% end %>
            </core-toolbar>
          </paper-shadow>
        </div>
    <% end %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <paper-shadow>
    <core-toolbar class="toolbar-title">
      <div class="indent">
        <h3>User</h3>
      </div>
    </core-toolbar>
  </paper-shadow>

  <paper-shadow>
    <core-toolbar class="table-row-toolbar">
      <span flex>
        Logged in as <strong><%= current_user.username %></strong>
      </span>
      <%= link_to destroy_user_session_path, method: :delete, class: "icon-button-link" do %>
      <paper-icon-button icon="exit-to-app"></paper-icon-button>
      <% end %>
    </core-toolbar>
  </paper-shadow>
<% else %>
  <div class="card-section">
    <%= render 'devise/sessions/sign_in_form' %>
  </div>
<% end %>
