<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Title</th>
      <th></th>
    </tr>
  </thead>
  <% videos.each_with_index do |video, index| %>
    <% form_id = "add-#{video.youtube_id}" %>
    <%= form_for video, url: queue_video_path, html: { id: form_id, method: :post, class: "form-inline" } do |form| %>
      <%= form.hidden_field :youtube_id %>
        <tr>
          <td>
            <%= index+1 %>
          </td>
          <td>
            <%= video.title %>
          </td>
          <td>
            <%= link_to "Add", "#", onclick: "VideoOperations.addToQueue($('##{form_id}'), $(this));", class: "btn btn-primary" %>
          </td>
        </tr>
    <% end %>
  <% end %>
</table>
