<%= render 'shared/searchbar' %>
<br>

<% if @queued_videos.present? %>
  <div class="panel-md panel panel-primary text-center">
    <div class="panel-heading">
      <h4>Queue</h4>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Title</th>
        </tr>
      </thead>
      <% @queued_videos.each_with_index do |video, index| %>
        <tr>
          <td>
            <%= index+1 %>
          </td>
          <td>
            <%= video.title %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<div class="panel-md panel panel-primary text-center">
  <div class="panel-heading"><h4>Top 10</h4></div>
  <%= render 'shared/add_videos_table', videos: @top_ten_videos %>
</div>

<div class="panel-md panel panel-info text-center">
  <div class="panel-heading"><h4>Last 10</h4></div>
  <%= render 'shared/add_videos_table', videos: @last_ten_videos %>
</div>
