<%= form_for Room.new, html: { class: "form-inline" } do |form| %>
  <div class="form-group">
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
<% end %>

<br>

<% if @rooms.any? %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= link_to "join", join_room_path(room) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
