<!DOCTYPE html>
<html>
<head>
  <title>Jukapp</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://js.pusher.com/2.0/pusher.min.js" %>
  <%= html_import_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#E7E7E7">
</head>
<body>

  <jukapp-scaffold <%= "isOwner='true'" if owner? %>>
    <core-header-panel navigation flex id="core_header_panel" mode="seamed">
      <core-toolbar id="core_toolbar">
        <core-item icon="home" label="Jukapp" horizontal center layout>
          <%= link_to "", root_path %>
        </core-item>
      </core-toolbar>
      <core-menu selected="<%= yield(:title) %>" valueattr="label">
        <core-item icon="home" label="Home" horizontal center layout active>
          <%= link_to "", root_path %>
        </core-item>
        <core-item icon="av:play-arrow" label="Play" horizontal center layout>
          <%= link_to "", play_video_path %>
        </core-item>
        <core-item icon="av:skip-next" label="Next" horizontal center layout>
          <%= link_to "", next_video_path %>
        </core-item>
        <core-item icon="settings" label="Settings" horizontal center layout>
          <%= link_to "", settings_path %>
        </core-item>
      </core-menu>
    </core-header-panel>
    <span tool horizontal layout flex center class="toolbar">
      <div flex id="page-title"><%= yield(:title) %></div>
    </span>
    <div class="secondaryButton">
    </div>
    <%= yield %>
    <paper-shadow id="main-loading-indicator" style="display: none;" class="loading-indicator" horizontal layout center center-justified>
      <paper-spinner active></paper-spinner>
    </paper-shadow>
    <% if false # turn off flash messages for now %>
      <%= render "shared/flash_messages" %>
    <% end %>
  </jukapp-scaffold>

  <%= render "shared/google_analytics" %>
  <script>
    $(function() {
      <% if current_room %>
        VideoOperations.currentQueue();
      <% end %>

      document.querySelector("jukapp-scaffold").addEventListener("delete-tapped", function(e) {
        VideoOperations.deleteQueuedVideo(e.detail.id);
      });
    });
  </script>
</body>
</html>
