<!DOCTYPE html>
<html>
<head>
  <title>Jukapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "http://www.youtube.com/player_api" %>
  <%= javascript_include_tag "#{ESHQ.client.url}/es.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to current_room ? video_events_path : root_path, class: "navbar-brand" do %>
          <span class='glyphicon glyphicon-home'></span><span class="visible-md-inline visible-lg-inline"> Jukapp</span>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li>
              <%= link_to play_video_path do %>
                <span class='glyphicon glyphicon-play'></span>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to search_videos_path do %>
              <span class='glyphicon glyphicon-search'></span>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to favorites_path do %>
                <span class='glyphicon glyphicon-star'></span>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to next_video_path do %>
              <span class='glyphicon glyphicon-step-forward'></span>
            <% end %>
          </li>
          <li>
            <%= link_to settings_path do %>
              <span class='glyphicon glyphicon-cog'></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <%= render 'shared/flash_messages' %>
    <div class="row">
      <div class="col-lg-12">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
