<!DOCTYPE html>
<html>
<head>
  <title>Jukapp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://www.youtube.com/player_api" %>
  <%= javascript_include_tag "#{ESHQ.client.url}/es.js" %>
  <%= html_import_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#E7E7E7">
</head>
<body>

  <style>
    #core_toolbar {
      color: rgb(255, 255, 255);
      background-color: rgb(74, 107, 138);
    }
    #core_header_panel {
      color: rgb(255, 255, 255);
      background-color: rgb(114, 141, 165);
    }
  </style>

  <core-scaffold id="core_scaffold">
    <core-header-panel navigation flex id="core_header_panel">
      <core-toolbar id="core_toolbar">
        <core-item icon="home" label="Jukapp" horizontal center layout></core-item>
      </core-toolbar>
      <core-menu selected="<%= yield(:title) %>" valueattr="label">
        <core-item icon="search" label="Search" horizontal center layout active>
          <%= link_to "", search_videos_path %>
        </core-item>
        <core-item icon="av:play-arrow" label="Play" horizontal center layout>
          <%= link_to "", play_video_path %>
        </core-item>
        <core-item icon="star" label="Favorites" horizontal center layout></core-item>
        <core-item icon="av:skip-next" label="Next" horizontal center layout></core-item>
        <core-item icon="history" label="History" horizontal center layout></core-item>
        <core-item icon="settings" label="Settings" horizontal center layout></core-item>
      </core-menu>
    </core-header-panel>
    <div tool></div>
    <%= yield %>
  </core-scaffold>

  <%= render "shared/google_analytics" %>
</body>
</html>
