<!DOCTYPE html>
<html>
<head>
  <title>Jukapp</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://js.pusher.com/2.0/pusher.min.js" %>
  <%= html_import_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#E7E7E7">
</head>
<body>

  <jukapp-scaffold>
    <core-header-panel navigation flex id="core_header_panel" mode="seamed">
      <core-toolbar id="core_toolbar">
        <core-item icon="home" label="Jukapp" horizontal center layout>
          <%= link_to "", root_path %>
        </core-item>
      </core-toolbar>
      <core-menu selected="<%= yield(:title) %>" valueattr="label">
        <%= form_tag search_videos_path, method: :get do %>
        <paper-input-decorator label="Search" floatingLabel>
          <%= text_field_tag "query", params[:query], placeholder: "Search on YouTube", is: "core-input" %>
        </paper-input-decorator>
        <% end %>
        <core-item icon="home" label="Home" horizontal center layout active>
          <%= link_to "", root_path %>
        </core-item>
        <core-item icon="av:play-arrow" label="Play" horizontal center layout>
          <%= link_to "", play_video_path %>
        </core-item>
        <core-item icon="star" label="Favorites" horizontal center layout>
          <%= link_to "", favorites_path %>
        </core-item>
        <core-item icon="av:skip-next" label="Next" horizontal center layout>
          <%= link_to "", next_video_path %>
        </core-item>
        <core-item icon="history" label="History" horizontal center layout>
          <%= link_to "", stats_path %>
        </core-item>
        <core-item icon="settings" label="Settings" horizontal center layout>
          <%= link_to "", settings_path %>
        </core-item>
      </core-menu>
    </core-header-panel>
    <span tool>
      <h3 class="page-title"><%= yield(:title) %></h3>
    </span>
    <div vertical layout>
      <div class="content">
        <%= yield %>
      </div>
      <%= render "shared/flash_messages" %>
    </div>
  </jukapp-scaffold>

  <%= render "shared/google_analytics" %>
</body>
</html>
